Django==5.2
gunicorn==21.2.0
whitenoise==6.6.0
requests==2.32.3
beautifulsoup4==4.12.3
APScheduler==3.10.4
reportlab==4.4.10
pillow==12.1.1
fpdf2==2.8.7
PyPDF2==3.0.1
pytz==2026.1.post1
tzlocal==5.3.1
